{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="startingbid" placeholder="starting bid">
        </div>
        <input class="btn btn-primary" type="submit" value="createlist">
    </form>
{% endblock %}
